@import url(http://fonts.googleapis.com/css?family=Lato);
    body {
    background-color: #fff;
}
h2, h4 {
    color: #000;
    font-family: Lato, sans-serif;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
}
button {
    border: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px #D3D3D3;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: all .8s ease;
}
button:hover {
    background-color: #2980b9;
    cursor: pointer;
    color: #fff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.container {
    margin-top: 20px;
}
#image-bg{
    background: #fff url(https://download.unsplash.com/reserve/3wBPUcDrR9KaduD3PvkY_DSC_0915.JPG) repeat 0 0;
    background-size: 500px;
    color: #fff;
    font-weight: 600;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}